@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    max-height: 100%;
}

input, textarea, select{
    @apply border border-gray-200 rounded-sm w-full py-2 px-3;
    @apply shadow-sm;
    @apply mb-2;
}

input:focus, textarea:focus, select:focus{
    @apply border-blue-900;
}

h1{
    @apply text-gray-800 mb-4 text-xl;
}

label{
    @apply text-gray-600 text-sm;
}

.btn-primary{
    @apply bg-primary text-white px-4 py-1 rounded-sm shadow-sm;
}

table.basic{
    @apply w-full bg-white rounded-sm shadow-md;
}

table.basic thead tr td,
table.basic thead tr th{
    @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td{
    @apply px-4 py-1;
}

table.basic a{
    @apply px-4 rounded-sm inline-flex mx-1 items-center gap-1 text-sm py-1;
}

table.dashboard{
    @apply min-w-60 bg-white rounded-sm shadow-md text-center;
}

table.dashboard thead tr{
    @apply text-sm text-gray-600 uppercase px-4 py-2 text-center;
}
table.dashboard td{
    @apply text-sm text-gray-400 px-4 py-2 text-center;
}
.p_amount{
    @apply text-2xl text-green-500 px-4 py-2 text-center;
}

.p_date  {
    @apply text-red-400 uppercase px-4 py-2 font-semibold text-center block;
}




.btn-default, .btn-red{
    @apply px-4 py-1 rounded-md;
}

.btn-red{
    @apply bg-red-600 text-white px-4 py-1 rounded-sm shadow-sm;
}

.btn-default{
    @apply bg-white text-gray-800 px-4 py-1 rounded-sm border border-gray-200 shadow-sm;
}

@media only screen and (max-width: 985px) {
    .desktop-only {
      display: none;
    }
  }
